<h1>New Signup Page!</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color: red"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @signup do |f| %>
  <%= f.label :time %>
  <%= f.number_field :time, min: 0, max: 23 %><br />
  <%= f.label :camper_id %>
  <%= f.collection_select :camper_id, @campers, :id, :name %><br />
  <%= f.label :activity_id %>
  <%= f.collection_select :activity_id, @activities, :id, :name %><br />
  <%= f.submit %>
<% end %>
